---
import "@/styles/globals.css";
import { Separator } from "@/components/ui/separator";
import astro from "/favicon.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex flex-col items-center justify-center min-h-screen">
      <div class="space-y-1 text-center">
        <h4 class="text-sm font-medium leading-none">
          Astro-Shadcn-ui Template
        </h4>
        <p class="text-sm text-muted-foreground">
          Astrojs + Tailwind css + Shadcn-ui
        </p>
      </div>
      <Separator className="my-4" />
      <div class="flex h-5 items-center space-x-4 text-sm">
        <div>
          <img src="/astrojs.png" width="20px" />
        </div>
        <div>
          <img src="/tailwind.png" width="20px" />
        </div>
        <div>
          <img src="/shadcn.jpg" width="100px" height="100px" />
        </div>
      </div>
    </div>
  </body>
</html>
